[submodule "userapi"]
	path = userapi
	url = https://github.com/cristian2306/UserAPI.git
[submodule "taskapi"]
	path = taskapi
	url = https://github.com/cristian2306/TaskAPI.git
[submodule "FrontUser"]
	path = FrontUser
	url = https://github.com/cristian2306/FrontUser.git
